{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}
<head> 
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>    
    <table>
            <tr>
                <th>
                    COVER
                </th>
               <th>
                    TITLE
               </th>
                <th>
                    YEAR
                </th>
                <th>
                    RATING
                </th>
            </tr>
        {% for movie in movies %}
            <tr>
                <td>
                    <img src={{movie.img_url}}>
                </td>
            <td>
                {{movie.name}}
            </td>
            <td>
                {{movie.year}}
            </td>
            <td>
                {{movie.rating}}
            </td>
            </tr>
        {% endfor %}
         </table>
{% endblock %}
